div.block-container.css-z5fcl4.egzxvld4 {
    padding: 60px;
    padding-top: 46px;
}

h1 {
    padding: 0px;
    margin: 0px;
}

p {
    text-align: center;
    margin: 0px;
}

#mynetwork {
    background-color: #000000;
}

div.css-ocqkz7.e1tzin5v4 {
    height: 70px;
}

/* div.user-select-none.svg-container {
    margin: auto;
} */